#textdomain wesnoth-swamplings

# (used in this campaign by the kind permission of Alarantalara)

[terrain_type]
    symbol_image=water/deep-c
    id=deep_water_c
    name= _ "Deep Water"
    string=Wuo
    aliasof=Wo
    submerge=0.5
    unit_height_adjust=-3
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=water/shallow-c
    id=shallow_water_c
    name= _ "Shallow Water"
    string=Wuw
    aliasof=Ww
    submerge=0.4
    unit_height_adjust=-4
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=water/ford-c
    id=ford_c
    name= _ "Cave Ford"
    string=Wuf
    aliasof=Gt, Ww
    submerge=0.3
    unit_height_adjust=-4
    editor_group=rotw
[/terrain_type]

#
#  Mine rails
#

[terrain_type]
    symbol_image=rails-n-s
    id=rails
    name= _ "Mine Rail"
    string=^Br|
    aliasof=_bas
    mvt_alias=Gt
    submerge=0
    unit_height_adjust=22
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=rails-ne-sw
    id=railsdiag1
    name= _ "Mine Rail"
    string=^Br/
    aliasof=_bas
    mvt_alias=Gt
    submerge=0
    unit_height_adjust=22
    editor_group=rotw
[/terrain_type]

[terrain_type]
    symbol_image=rails-se-nw
    id=railsdiag2
    name= _ "Mine Rail"
    string=^Br\
    aliasof=_bas
    mvt_alias=Gt
    submerge=0
    unit_height_adjust=22
    editor_group=rotw
[/terrain_type]
