#textdomain wesnoth-s
[scenario]
    id=10_Skandix
    name= _ "Skandix"
    map_data="{~add-ons/Swamplings/maps/Archduke02}"
    turns=-1
    {SCENARIO_MUSIC "into_the_shadows.ogg"}
	victory_when_enemies_defeated=no

	{STARTING_VILLAGES_ALL 2}

    {DUSK}

    next_scenario=11_Thunderstruck

    [side]
        type=Goblin Rouser
        id=Clammie
        name= _ "Clammie"
        unrenamable=yes
        x,y=9,9
        side=1
        canrecruit=yes
		recruit=Vampire Bat, Goblin Spearman
        team_name=1
        user_team_name=_"Clammie & Co."
        controller=human
         	[modifications]
                {TRAIT_SWAMPSAVVY}
            [/modifications]
        facing=sw
        shroud=yes
    [/side]

    [side]
        side=2
        canrecruit=yes
        recruit=Spearmen, Bowman
        team_name=2
		type=Master at Arms
		id=Archduke
		name= _ "Archduke"
        unrenamable=yes
        x,y=7,11
        user_team_name=_"Archduke's Guards"
 	[/side]
    [side]
        side=3
        canrecruit=no
        team_name=3
		type=Saurian Augur
		id=Skandix
		name= _ "Skandix"
        unrenamable=yes
        x,y=15,24
        user_team_name=_"Skandix"
        {IS_HERO}
        hitpoints=5
 	[/side]

[event]
	name=start

	{SS_TRAIT_ON_ADVANCEMENT}
	{MODIFY_UNIT (id=Clammie) facing sw}
	{MODIFY_UNIT (id=Archduke) facing ne}

    [recall]
	        id=Kennison
			x,y=8,8
			show=yes
	[/recall]
    [if]
        [have_unit]
	        id=Kennison
        [/have_unit]
        [else]
            [unit]
	        id=Kennison
            name= _ "Kennison"
            type=Bowman
			x,y=8,8
            profile=portraits/humans/transparent/duelist.png
            {IS_HERO}
		    [modifications]
				{TRAIT_LOYAL}
            [/modifications]
            [/unit]
        [/else]
    [/if]

	{MODIFY_UNIT (id=Kennison) facing sw}

    [recall]
	    id=Shining
		x,y=8,9
		show=yes
	[/recall]
    [if]
        [have_unit]
	        id=Shining
        [/have_unit]
        [else]
			[unit]
    			type=Knight
    			id=Shining
    			name= _ "Knight Shining"
    			side=2
    			x,y=8,9
				{IS_HERO}
				[modifications]
        			{TRAIT_INTELLIGENT}
        			{TRAIT_QUICK}
    			[/modifications]
			[/unit]
        [/else]
    [/if]

	{MODIFY_UNIT (id=Shining) facing sw}

        [scroll_to_unit]
        	id=Archduke
        [/scroll_to_unit]
    [message]
        speaker=Archduke
        message= _ "This is astonishing news! Shining, I trusted you in all things. Now I learn you hired an assassin to kill Lord Cornwell, and had identical plans to finish me!"
    [/message]
    [message]
        speaker=Shining
        message= _ "Cornwell was a tiresome oaf. Our land deserves better!"
    [/message]
    [message]
        speaker=Archduke
        message= _ "And who is this orcish creature? The assassin, I suppose?"
    [/message]
    [message]
        speaker=Kennison
        message= _ "No, sir! This is Clammie. He bravely slew Rashki before he could assassinate you."
    [/message]
    [message]
        speaker=Clammie
        message= _ "Please take this feather as a gift from my people."
    [/message]
    [message]
        speaker=Archduke
        message= _ "He's very generous, but if I wanted feathers I'd pluck a chicken. There's a bounty for a slayer named Rashki. Five hundred gold, I believe, and that's before he killed Cornwell. Ah well, we shall give you seven hundred then, little swampling, or whatever you are. And Shining, you shall wait in the dungeon until your trial."
    [/message]
    [message]
        speaker=Shining
        message= _ "This is an outrage!"
    [/message]

	# enter Phillips
	{FAKE_UNIT_MOVE 4 6 18 11 2 (Royal Guard) ()}

    [recall]
	    id=Phillips
		x,y=6,11
	[/recall]
    [if]
        [have_unit]
	        id=Phillips
        [/have_unit]
        [else]
			[unit]
    			type=Royal Guard
    			id=Phillips
    			name= _ "Phillips"
    			side=2
    			x,y=6,11
			[/unit]
        [/else]
    [/if]

	# Phillips whispers to Archduke.
	{MODIFY_UNIT (id=Phillips) facing ne}
	{MODIFY_UNIT (id=Archduke) facing sw}

    [message]
        speaker=Archduke
        message= _ "What's that, Phillips?"
    [/message]
    [message]
        speaker=Phillips
        message= _ "I said, I saw that little troll guy in this very room. He is Rashki the Slayer!"
    [/message]
    [message]
        speaker=Archduke
        message= _ "Well, he can't collect a bounty on slaying Rashki the Slayer if he <i>is</i> Rashki the Slayer. In fact, I'd probably have to hang him."
    [/message]
    [message]
        speaker=Clammie
        message= _ "I'm not Rashki. I only pretended to be him because I had no other choice."
    [/message]

	{MODIFY_UNIT (id=Archduke) facing ne}

    [message]
        speaker=Archduke
        message= _ "Well, the best man to tell us would be your co-conspirator. Shining, is this Rashki or is he not?"
    [/message]
    [message]
        speaker=Shining
        message= _ "Well ... of course he is Rashki."
    [/message]
    [message]
        speaker=Clammie
        message= _ "You viper!"
    [/message]
    [message]
        speaker=Kennison
        message= _ "I must protest, sir! I have spent much time with Clammie. He's no assassin!"
    [/message]
    [message]
        speaker=Archduke
        message= _ "Yet he set a cunning trap for Shining, did he not? And he managed to slip into my home quite artfully, and escape from my guards. And he had Shining convinced he was a mage. Well, whether you're mage or assassin or simply a primitive chieftain, you're a very confusing little beast, and I think it best to keep you under lock and key before you cause us any more problems. Phillips, get someone to warm up this mead, it's quite tepid."
    [/message]

# move spearmen behind Clammie.
	{FAKE_UNIT_MOVE 9 9 4 8 2 (Spearman) ()}
	{UNIT 2 Spearman 9 8 ()}
	{FAKE_UNIT_MOVE 14 10 7 8 2 (Spearman) ()}
	{UNIT 2 Spearman 10 8 ()}

{COLOR_ADJUST -225 -225 -225}
        [delay]
            time=1000
        [/delay]

	{TELEPORT_UNIT (id=Clammie) 14 23}
	{TELEPORT_UNIT (type=Spearmen) 3 3}
	{TELEPORT_UNIT (id=Kennison) 4 3}
	{TELEPORT_UNIT (id=Shining) 4 4}

# apparently you can't shroud your leader! who knew?
	[place_shroud]
		x=1-15
		y=1-15
	[/place_shroud]

# TODO: Sound of cell door slamming.

	[remove_shroud]
		x,y=14,23
		radius=2
	[/remove_shroud]

	{MODIFY_UNIT (id=Skandix) facing nw}

    [scroll_to_unit]
    	id=Skandix
    [/scroll_to_unit]

{COLOR_ADJUST 30 30 0}

{REPLACE_SCENARIO_MUSIC transience.ogg}

    [message]
        speaker=Skandix
        message= _ "SSSSSSS! A goblin!"
        sound=hiss.wav
    [/message]
    [message]
        speaker=Clammie
        message= _ "You are wiser than the Archduke. What happened to your leg?"
    [/message]
    [message]
        speaker=Skandix
        message= _ "Humans stab Skandix many times. Skandix will heal, then escape. It is prophesied!"
    [/message]
    [message]
        speaker=Clammie
        message= _ "Drink this, it will help."
    [/message]
    
	{FULL_HEAL id=Skandix}

	[sound]
		name=heal.wav
	[/sound]

    [message]
        speaker=Skandix
        message= _ "Bottle is empty now."
    [/message]
    [message]
        speaker=Clammie
        message= _ "Tell me more of this prophesy."
    [/message]
    [message]
        speaker=Skandix
        message= _ "I am from the great city of Xaffrasz, deep in the bog, where the pools are thick with naga and wolves dance on the hills. We were a great city! We had many slaves. Mostly goblins. Your people are very good at sweeping."
    [/message]
    [message]
        speaker=Clammie
        message= _ "You are too kind."
    [/message]
    [message]
        speaker=Skandix
        message= _ "I served the great Kleezyx, the most famed oracle in the city. It was Kleezyx who prophesied I would be wounded and imprisoned, then healed by a compassionate creature. Then I would kill the compassionate creature and take him to the cave of the dire wolf."
    [/message]
    [message]
        speaker=Clammie
        message= _ "That is interesting. Wouldn't it be easier to take me to the cave of the dire wolf first, and then kill me?"
    [/message]
    [message]
        speaker=Skandix
        message= _ "Skandix agrees. Would be better than carrying you. Kleezyx is dead anyways. All in Xaffrasz are dead. Humans stab us many times."
    [/message]

	{TELEPORT_UNIT (id=Archduke) 10 24}
	{MOVE_UNIT (id=Archduke) 14 24}
	{MODIFY_UNIT (id=Archduke) facing ne}
    [scroll_to_unit]
    	id=Skandix
    [/scroll_to_unit]

    [message]
        speaker=Archduke
        message= _ "It's much darker in here than I thought. Why don't we have some torches along the corridor? I almost tripped. Is that you, little swampling?"
    [/message]
    [message]
        speaker=Clammie
        message= _ "It is I, the one you imprisoned for no reason."
    [/message]
    [message]
        speaker=Archduke
        message= _ "My reasons are not always apparent. But if you are truly the slayer named Rashki, these prison doors will open for you tonight."
    [/message]
    [message]
        speaker=Clammie
        message= _ "I see. You have a job for Rashki as well."
    [/message]
    [message]
        speaker=Archduke
        message= _ "Your handiwork with Lord Cornwell was quite artful. We all thought he died of a fever. I will pay you five hundred to bring the same fever to Francois, my Master at Arms. A frightful man, obsessed with war. His death will save many lives."
    [/message]

	[message]
		speaker=narrator
		image="wesnoth-icon.png"
		message= _ "You receive 500 gold!"
		sound=gold.ogg
	[/message]

	[gold]
		amount=500
	[/gold]

    [message]
        speaker=Clammie
        message= _ "And where is my bounty, for slaying Rashki the slayer?"
    [/message]
    [message]
        speaker=Archduke
        message= _ "You drive a hard bargain, Rashki."
    [/message]

	[message]
		speaker=narrator
		image="wesnoth-icon.png"
		message= _ "You receive 700 gold!"
		sound=gold.ogg
	[/message]

	[gold]
		amount=700
	[/gold]

    [message]
        speaker=Clammie
        message= _ "I'll need the assistance of this augur."
    [/message]
    [message]
        speaker=Archduke
        message= _ "The lizard thing? I won't miss him. He killed half a squad of my best swordsmen."
    [/message]
    [message]
        speaker=Clammie
        message= _ "Did you not wipe out everyone in his city?"
    [/message]
    [message]
        speaker=Archduke
        message= _ "I'd hardly call it a city. A small township at best. But we did set it on fire. They're quite savage, always poking with their spears."
    [/message]
    [message]
        speaker=Skandix
        message= _ "I CURSE YOU!"
        sound=hiss.wav
    [/message]
    [message]
        speaker=Clammie
        message= _ "Skandix will gladly assist in this murder."
    [/message]
    [message]
        speaker=Archduke
        message= _ "Please do not use such blunt words. This is a delicate matter. His house is near the barracks outside of town."
    [/message]
    [message]
        speaker=Clammie
        message= _ "What are your reasons for wanting him dead?"
    [/message]
    [message]
        speaker=Archduke
        message= _ "That is my own personal business. I've never met an assassin with such an unprofessional attitude. I'll thank you both to leave my dungeon immediately!"
    [/message]

	{MOVE_UNIT (id=Clammie) 6 26}
	{MOVE_UNIT (id=Skandix) 5 27}

        [endlevel]
            result=victory
            bonus=no
            carryover_report=no
# TODO comment in, once part 11 is ready:
#            linger_mode=no
        [/endlevel]

{COLOR_ADJUST 0 0 0}

[/event]
[/scenario]
